<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=alata:400" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

</head>
<body style="font-family:'Alata', san-serif">
<div class="container">
<h1>Welcome to Text Analyzer</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin:0px; width:721px; height:93px;'></textarea>
    <br>
    <input type = "radio" name="removePunc"> Remove Punctuation <br><br>
    <input type = "radio" name="capitalText"> Capitalize Text <br><br>
    <input type = "radio" name="newLineRemove"> Remove New Line<br><br>
    <input type = "radio" name="characterCounter"> Count Characters<br><br>
    <button type="submit" class="btn btn-md btn-outline-dark">
        Perform Operation
    </button>
    <br>
    <h3 class="my-5">Your analyzed text - {{ purpose }}</h3>
    <br>
    <u>Answer</u> :  <h4><pre>{{analyzed_text}}</pre></h4>
</form>
</div>
</body>
</html>